<% @favorites.map do |sugg| %>
<div class="panel panel-primary">
    <!-- Default panel contents -->
  <table class= "table">
  <% pairing = TunesTakeoutWrapper.search_by_id(sugg) %>
  <% music = Music.new.find_music(pairing["music_id"], pairing["music_type"]) %>
  <% uri = Addressable::URI.parse(pairing["food_id"]) %>
  <% food_suggestion = Food.find_food(uri.normalize.to_s) %> <br>
  <tr>
    <td>
      <%= image_tag music.find_thumbnail %><br>
      <strong><h4><%= link_to "#{music.find_name}", music.open_url["spotify"] %></h4></strong>
      <iframe src="https://embed.spotify.com/?uri=<%= music.iframe %>" width="400" height="100" frameborder="0" allowtransparency="true" class="player"></iframe><br>
      Listen to this <%= pairing["music_type"] %>
    </td>
    <td>
      <%= image_tag food_suggestion.image_url %><br>
      <strong><h4><%= link_to food_suggestion.name, food_suggestion.url %></h4></strong>
      <% food_suggestion.location.each do |line| %>
        <address><%= line %>
          <% end %><br>
      <abbr title="Phone">P:</abbr><%= food_suggestion.phone %></address>
      <%= food_suggestion.rating %>:<%= image_tag food_suggestion.rating_img_url %>
    </td>
    <td>
      <% if current_user && @favorites.include?(pairing["id"]) %>
        <%= button_to "Unfavorite", unfavorite_path(pairing["id"]), method: "delete" %>
        <%#= form_tag({controller: "suggestions", action: "unfavorite", method: "delete"}) do %>
        <%#= hidden_field_tag "unfavorite", pairing["id"] %>
        <%#= hidden_field_tag "current_user", current_user.uid %>
        <%#= submit_tag("Unfavorite") %>
        <%# end %>
    <% else %>
      <% if current_user %>
        <%= form_tag({controller: "suggestions", action: "favorite", method: "post"}) do %>
        <%= hidden_field_tag "favorite", pairing["id"] %>
        <%= hidden_field_tag "current_user", current_user.uid %>
        <%= submit_tag("Add to favorites") %>
        <% end %>
      <% end %>
    <% end %>
    </td>
  </tr>
</table>
</div>
  <% end %>
