<h1>Welcome to Tunes and Takeout</h1>

<h3>Check out the Top 20 Suggestions!</h3>
  <% TunesTakeoutWrapper.top_twenty.map do |sugg| %>
  <div class="panel panel-primary">
      <!-- Default panel contents -->
    <table class= "table">
    <% pairing = TunesTakeoutWrapper.search_by_id(sugg) %>
    <% music = Music.new.find_music(pairing["music_id"], pairing["music_type"]) %>
    <% uri = Addressable::URI.parse(pairing["food_id"]) %>
    <% food_suggestion = Food.find_food(uri.normalize.to_s) %> <br>
    <tr>
      <td>
        <%= pairing["music_type"] %>
        <%= image_tag music.find_thumbnail %><br>
        <%= link_to "#{music.find_name}", music.open_url["spotify"] %>
      </td>
      <td>
        <iframe src="https://embed.spotify.com/?uri=<%= music.iframe %>" width="300" height="80" frameborder="0" allowtransparency="true" class="player"></iframe>
      </td>
      <td>
        <%= food_suggestion.name %>
        <%= food_suggestion.phone %>
        <%= link_to "View full info on YELP!", food_suggestion.url %>
        <%= image_tag food_suggestion.image_url %>
        <%= food_suggestion.location %>
        <%= food_suggestion.rating %><%#= image_tag food_suggestion.rating_img_url %>
      </td>
      <td>
      <% if current_user && @favorites.include?(pairing["id"]) %>
        <%= form_tag({controller: "suggestions", action: "unfavorite", method: "delete"}) do %>
        <%= hidden_field_tag "unfavorite", pairing["id"] %>
        <%= hidden_field_tag "current_user", current_user.uid %>
        <%= submit_tag("Unfavorite") %>
        <% end %>
      <% else %>
        <% if current_user %>
          <%= form_tag({controller: "suggestions", action: "favorite", method: "post"}) do %>
          <%= hidden_field_tag "favorite", pairing["id"] %>
          <%= hidden_field_tag "current_user", current_user.uid %>
          <%= submit_tag("Add to favorites") %>
          <% end %>
        <% end %>
      <% end %>
      </td>
    </tr>
  </table>
</div>
<% end %>
